.panestack-title {
    border: none;
    color: $text-color-dark;
}

.infobar {
    background: $highlight-color-dark;
    border: none;
}

.comment-visits-box {
    display: none;
}

.comment,
.content .details,
.res-commentBoxes .comment {
    border: none !important;
    position: relative;
    padding: 5px !important;
    margin: 10px 0 !important;

    .midcol {
        margin-left: 30px;
        margin-top: 5px;
    }
}

.comment {
    span.score {
        color: #777;
    }

    .child > .sitetable {
        background: none;
    }

    .child,
    .showreplies {
        border: none;
        margin-top: 10px;
        margin-left: 20px;
    }

    .expand {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100% - 8px);
        padding: 4px;
        padding-right: 7px;
        color: #777;
        border-left: solid 2px dodgerblue;
        min-height: 20px;

        &:hover {
            background: dodgerblue;
            color: #eee !important;
            text-decoration: none;
        }
    }

    &.new-comment .usertext-body {
        background: none !important;
    }

    .usertext.border .usertext-body {
        background: $highlight-color-dark;
    }
}

.res-commentBoxes {
    .comment .comment,
    .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
        background: $ui-color-hover-dark !important;
    }

    .comment .comment .comment,
    .comment .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment .comment,
    .comment .comment .comment .comment .comment .comment .comment .comment .comment {
        background: $ui-color-dark !important;
    }

    &.res-commentBoxes-rounded .comment {
        border-radius: 0 !important;
    }
}

.new-comment .usertext-body {
    border: none;
    background: rgba(70, 70, 70, 0.7);
}
