@import 'sr-header';

#header {
    height: 35rem;
    background: none !important;
    border: none;
    position: relative;
    overflow: hidden;

    .pagename {
        visibility: collapse;

        a {
            visibility: visible;
            background: url(%%bns-logo-winter%%) left center no-repeat;
            text-indent: -999rem;
            position: absolute;
            left: 13rem;
            width: 50rem;
            height: 20rem;
            bottom: 5rem;
        }
    }

    #header-bottom-left {
        .tabmenu {
            display: flex;
            width: calc(100% - 2.5rem);
            position: absolute;
            bottom: 0;
            background: $ui-color-light;
            height: 3rem;
            align-items: center;
            margin: 0 1rem;
            border-radius: 0.2rem;

            li {
                margin: 0;

                a {
                    background: none;
                    text-transform: capitalize;
                    color: #aaa;
                    font-weight: bold;
                    font-size: 1.4rem;
                    padding: 0.4rem 1.5rem;

                    &:hover {
                        color: $highlight-color;
                    }
                }

                &.selected a {
                    background: none;
                    border: none;
                    border-bottom: solid 0.2rem dodgerblue;
                    color: dodgerblue;
                    font-weight: bold;
                }

                &:nth-child(4),
                &:nth-child(7) {
                    display: none;
                }
            }
        }
    }

    #header-bottom-right {
        background: none;
        font-size: 1.4rem;
        padding: 0.5rem 2.5rem;
        margin-bottom: 0.1rem;
        bottom: 0 !important;
        top: auto !important;
    }
}
