@import 'sr-header';

#header {
    height: 350px;
    background: none !important;
    border: none;
    position: relative;
    overflow: hidden;

    .pagename {
        visibility: collapse;

        a {
            visibility: visible;
            background: url(%%bns-logo-bb%%) left center no-repeat;
            text-indent: -9990px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            width: 420px;
            height: 300px;
            top: 30px;
        }
    }

    #header-bottom-left {
        #header-img.default-header {
            background: url(%%reddit-logo%%);
            position: absolute;
            top: 200px;
            left: 30px;
            width: 80px;
            height: 80px;
        }

        .tabmenu {
            display: flex;
            width: calc(100% - 25px);
            position: absolute;
            bottom: 0;
            background: $ui-color-dark;
            height: 30px;
            align-items: center;
            margin: 0 10px;
            border-radius: 2px;

            li {
                margin: 0;

                a {
                    background: none;
                    text-transform: capitalize;
                    color: #999;
                    font-weight: bold;
                    font-size: 14px;
                    padding: 4px 15px;

                    &:hover {
                        color: $highlight-color;
                    }
                }

                &.selected a {
                    background: none;
                    border: none;
                    border-bottom: solid 2px dodgerblue;
                    color: dodgerblue !important;
                    font-weight: bold;
                }

                &:nth-child(4) {
                    display: none;
                }
            }
        }
    }

    #header-bottom-right {
        background: none;
        font-size: 14px;
        padding: 5px 25px;
        margin-bottom: 1px;
        bottom: 0 !important;
        top: auto !important;
    }
}
