.usertext-edit {
    width: 99%;
    max-width: 800px;

    textarea {
        width: 100%;
    }

    .livePreview {
        background: $ui-color-dark;
    }
}

.res-commentBoxes .infobar {
    background-color: transparent !important;

    .commentsignupbar__container {
        background: none;
    }
}

textarea:not(#BigText),
#sr-autocomplete,
.input {
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    border: none;
    background: $ui-color-hover-dark;
    color: $text-color-dark !important;
}

.pretty-form input[type='text'],
.pretty-form textarea,
.pretty-form input[type='password'],
.pretty-form input[type='number'] {
    border: none;
    background: $ui-color-hover-dark;
    color: $text-color-dark !important;
}

textarea:not(#BigText) {
    transform: translateZ(0);
    width: 100%;
    max-width: 100%;
}

.btn {
    background: rgba(70, 70, 70, 0.7);
    color: #eee;
    border: none !important;
    outline: none;
    padding: 5px 10px;
    text-transform: capitalize;
    transition: all 0.2s;

    &:hover {
        background: rgba(70, 70, 70, 0.5);
    }
}

.morelink {
    color: $text-color-dark;
    background: $ui-color-dark;
    border: none;
    border-radius: 2px;
    transition: all 0.2s;

    a {
        color: goldenrod;
        font-weight: normal;
    }

    &:hover {
        background: $ui-color-hover-dark;
        a {
            color: gold;
        }
    }

    .nub {
        display: none;
    }
}
