.md:not(#BigPreview) {
    color: $text-color-dark;

    code {
        background: none;
        white-space: pre-wrap;
    }

    .-lists,
    ul,
    ol {
        padding-left: 20px;
    }

    blockquote,
    del {
        color: #777;
    }

    a {
        color: dodgerblue;

        &:hover {
            color: deepskyblue;
        }
    }

    pre {
        background: $ui-color-hover-dark;
    }
}
