.stylesheet-customize-container {
    padding: 20px;
    border-radius: 2px;
    background: $ui-color-dark;

    .sheets {
        margin: 0;
    }
}

#preview-table > table {
    width: 100%;
}

.gearIcon::after {
    color: dodgerblue;
    text-shadow: none;
}
