.stylesheet-customize-container {
    padding: 2rem;
    border-radius: 0.2rem;
    background: $ui-color-dark;

    .sheets {
        margin: 0;
    }
}

#preview-table > table {
    width: 100%;
}

.gearIcon::after {
    color: dodgerblue;
    text-shadow: none;
}
