body.search-page {
    .side {
        margin-top: 5rem;
    }

    .searchpane {
        width: 100%;
        padding: 1rem;
        margin: 0;
        box-sizing: border-box;
        background: $ui-color-dark;

        #previoussearch {
            input[type='text'] {
                max-width: 100%;
                background: $ui-color-hover-dark;
            }

            label {
                display: none;
            }
        }
    }

    .listing {
        background: $ui-color-dark;

        .search-result-group {
            padding: 1rem;
            max-width: 100%;
            min-width: auto;

            .search-result-group-header {
                margin-top: 0;
            }
        }

        .search-result {
            overflow: hidden;
        }
    }
}
