.side {
    margin-top: 110px;
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background: none;
    justify-content: center;
    background: none !important;

    .spacer {
        width: 100%;
        margin: 0;

        & > div {
            background: $ui-color-dark;
            box-sizing: border-box;
            margin: 10px 0;
            border-radius: 2px;
        }

        .login-form-side {
            margin: 10px 0;
            border: none;
            background: $ui-color-dark;
        }

        .linkinfo {
            border: none;
            text-transform: capitalize;
        }

        .submit.submit-link,
        .submit.submit-text {
            width: 145px;
            position: absolute;
            background: none;
            top: 370px;
            margin: 0;

            .morelink {
                padding: 1px 0;

                a {
                    font-weight: bold;
                    color: goldenrod;
                }
            }

            &.submit-link {
                right: 170px;
            }

            &.submit-text {
                right: 15px;
            }
        }

        #search {
            position: absolute;
            top: 420px;
        }

        .titlebox {
            display: flex;
            flex-direction: column;
            padding: 10px;

            &:before {
                content: 'Subreddit Info';
                text-align: center;
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: bold;
            }

            .redditname {
                display: none;
            }

            .subButtons {
                order: 3;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .subscribe-button {
                width: 100%;
                text-align: center;
                margin: 10px;
                text-transform: capitalize;

                a {
                    font-size: 16px;
                    border: none;
                    padding: 2px 10px;
                    color: #eee !important;
                }

                .remove {
                    background: #aaa;
                }

                .add {
                    background: goldenrod;
                }
            }

            .res-fancy-toggle-button {
                background: none;
                border: none;
                color: goldenrod;
                text-transform: uppercase;
            }

            .res-sr-style-toggle {
                order: 4;
                background: none;
            }

            .subscribers {
                order: 1;
                font-size: 16px;
                text-align: center;

                .word {
                    display: none;
                }

                .number:after {
                    content: ' Subscribers';
                }
            }

            .users-online {
                order: 2;
                text-align: center;
                font-style: italic;

                &:before {
                    display: none;
                }

                .number:after {
                    content: ' premium members';
                }

                .word {
                    display: none;
                }
            }

            .leavemoderator {
                order: 7;
                background: none !important;
            }

            .flairtoggle {
                order: 5;
                background: none !important;
            }

            .tagline {
                order: 6;

                .flairselector {
                    box-shadow: none;
                    padding: 20px !important;
                    transform: translateX(-50%);
                    left: 50% !important;
                    border: solid 1px;
                    border-radius: 2px;
                    border-color: $text-color-dark;
                    background: $ui-color-dark;

                    h2 {
                        background: none;
                        text-transform: capitalize;
                        padding-bottom: 10px;
                    }
                }

                .flairoptionpane {
                    display: flex;
                    max-height: initial;
                    justify-content: space-between;
                    margin-bottom: 15px;
                    border: none;

                    ul {
                        float: none !important;

                        li {
                            border-color: transparent;

                            &:hover {
                                background: $ui-color-hover-dark;
                            }
                        }
                    }
                }
            }

            .usertext {
                order: 8;
            }

            .bottom {
                display: none;
            }
        }

        .sidecontentbox {
            padding: 5px;

            .collapse-button {
                display: none;
            }

            .content {
                border: none;
                background: none !important;
            }
        }

        .account-activity-box {
            padding: 10px;
            text-transform: capitalize;
        }

        .md {
            a[href='https://www.reddit.com/r/bladeandsoul/'],
            a[href='https://li.reddit.com/r/bladeandsoul/'] {
                color: goldenrod !important;
                background-image: url(%%themes%%);
                background-repeat: no-repeat;
                display: inline-block;
                padding-left: 45px;
                height: 40px;
                width: calc(50% - 47.5px);
                line-height: 40px;

                &:hover {
                    background-color: $ui-color-hover-dark;
                }
            }

            a[href='https://li.reddit.com/r/bladeandsoul/'] {
                background-position: 0 -40px;
            }

            a[href*='www.bladeandsoul.com'],
            a[href*='bnstree.com'],
            a[href*='discordapp.com'] {
                display: block;
                width: calc(100% - 45px);
                color: goldenrod !important;
                background-image: url(%%side-icons-dark%%);
                background-repeat: no-repeat;
                padding-left: 45px;
                height: 40px;
                line-height: 40px;

                &:hover {
                    background-color: $ui-color-hover-dark;
                }
            }

            a[href*='bnstree.com'] {
                background-position: 0 -40px;
            }

            a[href*='discordapp.com'] {
                background-position: 0 -80px;
            }

            table {
                width: 100%;

                thead {
                    display: none;
                }

                td {
                    border: none;
                }
            }

            h5 {
                display: block;
                overflow: hidden;
                position: absolute;
                top: 360px;
                left: 10px;
                border-radius: 2px;
                padding: 0 15px;
                background: $ui-color-dark;
                color: #999;
                right: 330px;
                font-size: 14px;
                height: 40px;
                line-height: 40px;
                text-decoration: none;
                font-weight: normal;

                strong {
                    color: dodgerblue;
                }
            }
        }
    }

    &:after {
        content: 'subreddit theme by /u/dakaringer';
        text-align: center;
        width: 100%;
        color: #777;
    }

    .icon-menu a {
        background: none;
    }

    .sidebox.create {
        display: none;
    }

    form input[type='checkbox'],
    form input[type='radio'] {
        margin: 0;
        margin-right: 5px;
    }
}

#search {
    input[type='text'] {
        height: 40px;
        border: none;
        outline: none;
        border-radius: 2px;
        color: $text-color-dark !important;
        background: $ui-color-dark;
    }

    input::placeholder {
        text-transform: capitalize;
    }

    #searchexpando {
        background: rgba(255, 255, 255, 1);
        border: none;
        border-radius: 2px;
        height: 270px;

        label {
            display: flex;
            color: $text-color-dark;
            padding: 10px 0;

            input {
                margin: 2px;
            }
        }
    }
}

.search-result :visited,
.search-result :visited > mark {
    color: slategrey;
}

.search-expando.collapsed:before {
    background: none;
}
