#sr-header-area,
.res-nightmode #sr-header-area {
    border: none;
    padding: 1px;

    &,
    .width-clip,
    .drop-choices {
        background: $ui-color-dark;
        max-height: 300px;
    }

    .sr-drop {
        .choice {
            margin: 2px 0;
        }

        .choice.bottom-option {
            margin-top: 5px;
            padding-top: 5px;
            border-top: solid 1px rgba(255, 255, 255, 0.5);
        }
    }

    .title,
    a {
        color: #aaa;
        text-decoration: none !important;
        background: none !important;
        font-weight: normal;

        &:hover {
            color: #eee;
        }
    }

    .srSep {
        color: #aaa;
    }

    .selected a,
    a.RESShortcutsCurrentSub {
        color: $primary-color !important;
        font-weight: normal;
    }

    .sr-list {
        margin-right: 50px;
    }

    #RESShortcutsEditContainer {
        height: 100%;

        &,
        div {
            background: none;
            color: $primary-color;
        }
    }
}

#srList,
.res-nightmode #srList {
    background: $ui-color-dark;
    color: $text-color-dark;
    border: none;

    tr {
        border-bottom-color: $grey;

        &:hover {
            background: $ui-color-hover-dark;
        }
    }
}
