$primary-color: dodgerblue;
$secondary-color: deepskyblue;
$highlight-color: skyblue;

$grey: rgba(50, 50, 50, 0.5);

$background-light: url(%%background%%);
$background-color-light: #eeeeee;
$ui-color-light: rgba(255, 255, 255, 0.95);
$ui-color-hover-light: rgba(225, 225, 225, 0.95);
$text-color-light: #292f34;
$highlight-color-light: rgba(180, 220, 240, 0.9);

$background-dark: url(%%background%%);
$background-color-dark: #111111;
$ui-color-dark: rgba(30, 32, 35, 0.9);
$ui-color-hover-dark: rgba(45, 50, 55, 0.9);
$text-color-dark: #eeeeee;
$highlight-color-dark: rgba(50, 100, 140, 0.9);
