.wiki-page {
    & > .content > span {
        position: absolute;
        top: 435px;
    }

    .wiki-page-content {
        margin: 0;
        padding: 20px;
        background: $ui-color-dark;

        .md {
            position: relative;
            padding-right: 250px;

            .toc {
                position: absolute;
                right: 0;
            }

            h1 {
                color: dodgerblue;
            }

            h2 {
                color: deepskyblue;
            }
        }
    }

    .pageactions {
        .wikiaction:hover {
            background: none;
        }

        .wikiaction-current {
            background-color: dodgerblue;
        }
    }
}
