html {
  font-size: 10px !important; }

body {
  background: url(%%background-dark%%) no-repeat;
  background-size: 100% auto;
  background-position: 0 -70px;
  background-color: #111111;
  color: #eeeeee; }

.md:not(#BigPreview) {
  color: #eeeeee; }
  .md:not(#BigPreview) .-lists,
  .md:not(#BigPreview) ul,
  .md:not(#BigPreview) ol {
    padding-left: 20px; }
  .md:not(#BigPreview) blockquote,
  .md:not(#BigPreview) del {
    color: #777; }
  .md:not(#BigPreview) a {
    color: dodgerblue; }
    .md:not(#BigPreview) a:hover {
      color: deepskyblue; }

#sr-header-area,
.res-nightmode #sr-header-area {
  border: none;
  padding: 1px; }
  #sr-header-area,
  #sr-header-area .width-clip,
  #sr-header-area .drop-choices,
  .res-nightmode #sr-header-area,
  .res-nightmode #sr-header-area .width-clip,
  .res-nightmode #sr-header-area .drop-choices {
    background: rgba(30, 32, 35, 0.9);
    max-height: 300px;
    overflow: auto; }
  #sr-header-area .sr-drop .choice,
  .res-nightmode #sr-header-area .sr-drop .choice {
    margin: 2px 0; }
  #sr-header-area .sr-drop .choice.bottom-option,
  .res-nightmode #sr-header-area .sr-drop .choice.bottom-option {
    margin-top: 5px;
    padding-top: 5px;
    border-top: solid 1px rgba(255, 255, 255, 0.5); }
  #sr-header-area .title,
  #sr-header-area a,
  .res-nightmode #sr-header-area .title,
  .res-nightmode #sr-header-area a {
    color: #aaa;
    text-decoration: none !important;
    background: none !important;
    font-weight: normal; }
    #sr-header-area .title:hover,
    #sr-header-area a:hover,
    .res-nightmode #sr-header-area .title:hover,
    .res-nightmode #sr-header-area a:hover {
      color: #eee; }
  #sr-header-area .srSep,
  .res-nightmode #sr-header-area .srSep {
    color: #aaa; }
  #sr-header-area .selected a,
  #sr-header-area a.RESShortcutsCurrentSub,
  .res-nightmode #sr-header-area .selected a,
  .res-nightmode #sr-header-area a.RESShortcutsCurrentSub {
    color: dodgerblue !important;
    font-weight: normal; }
  #sr-header-area .sr-list,
  .res-nightmode #sr-header-area .sr-list {
    margin-right: 50px; }
  #sr-header-area #RESShortcutsEditContainer,
  .res-nightmode #sr-header-area #RESShortcutsEditContainer {
    height: 100%; }
    #sr-header-area #RESShortcutsEditContainer,
    #sr-header-area #RESShortcutsEditContainer div,
    .res-nightmode #sr-header-area #RESShortcutsEditContainer,
    .res-nightmode #sr-header-area #RESShortcutsEditContainer div {
      background: none;
      color: dodgerblue; }

#srList,
.res-nightmode #srList {
  background: rgba(30, 32, 35, 0.9);
  color: #eeeeee;
  border: none; }
  #srList tr,
  .res-nightmode #srList tr {
    border-bottom-color: rgba(50, 50, 50, 0.5); }
    #srList tr:hover,
    .res-nightmode #srList tr:hover {
      background: rgba(45, 50, 55, 0.9); }

#header {
  height: 350px;
  background: none !important;
  border: none;
  position: relative;
  overflow: hidden; }
  #header .pagename {
    visibility: collapse; }
    #header .pagename a {
      visibility: visible;
      background: url(%%bns-logo-winter%%) left center no-repeat;
      text-indent: -9990px;
      position: absolute;
      left: 120px;
      width: 400px;
      height: 200px;
      bottom: 50px; }
  #header #header-bottom-left #header-img.default-header {
    background: url(%%reddit-logo%%);
    position: absolute;
    top: 200px;
    left: 30px;
    width: 80px;
    height: 80px; }
  #header #header-bottom-left .tabmenu {
    display: flex;
    width: calc(100% - 25px);
    position: absolute;
    bottom: 0;
    background: rgba(30, 32, 35, 0.9);
    height: 30px;
    align-items: center;
    margin: 0 10px;
    border-radius: 2px; }
    #header #header-bottom-left .tabmenu li {
      margin: 0; }
      #header #header-bottom-left .tabmenu li a {
        background: none;
        text-transform: capitalize;
        color: #999;
        font-weight: bold;
        font-size: 14px;
        padding: 4px 15px; }
        #header #header-bottom-left .tabmenu li a:hover {
          color: skyblue; }
      #header #header-bottom-left .tabmenu li.selected a {
        background: none;
        border: none;
        border-bottom: solid 2px dodgerblue;
        color: dodgerblue !important;
        font-weight: bold; }
      #header #header-bottom-left .tabmenu li:nth-child(4) {
        display: none; }
  #header #header-bottom-right {
    background: none;
    font-size: 14px;
    padding: 5px 25px;
    margin-bottom: 1px;
    bottom: 0 !important;
    top: auto !important; }

.side {
  margin-top: 110px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background: none;
  justify-content: center;
  background: none !important; }
  .side .spacer {
    width: 100%;
    margin: 0; }
    .side .spacer > div {
      background: rgba(30, 32, 35, 0.9);
      box-sizing: border-box;
      margin: 10px 0;
      border-radius: 2px; }
    .side .spacer .login-form-side {
      margin: 10px 0;
      border: none;
      background: rgba(30, 32, 35, 0.9); }
    .side .spacer .linkinfo {
      border: none;
      text-transform: capitalize; }
    .side .spacer .submit.submit-link,
    .side .spacer .submit.submit-text {
      width: 145px;
      position: absolute;
      background: none;
      top: 370px;
      margin: 0; }
      .side .spacer .submit.submit-link .morelink,
      .side .spacer .submit.submit-text .morelink {
        padding: 1px 0; }
        .side .spacer .submit.submit-link .morelink a,
        .side .spacer .submit.submit-text .morelink a {
          font-weight: bold;
          color: goldenrod; }
      .side .spacer .submit.submit-link.submit-link,
      .side .spacer .submit.submit-text.submit-link {
        right: 170px; }
      .side .spacer .submit.submit-link.submit-text,
      .side .spacer .submit.submit-text.submit-text {
        right: 15px; }
    .side .spacer #search {
      position: absolute;
      top: 420px; }
    .side .spacer .titlebox {
      display: flex;
      flex-direction: column;
      padding: 10px; }
      .side .spacer .titlebox:before {
        content: 'Subreddit Info';
        text-align: center;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold; }
      .side .spacer .titlebox .redditname {
        display: none; }
      .side .spacer .titlebox .subButtons {
        order: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
      .side .spacer .titlebox .subscribe-button {
        width: 100%;
        text-align: center;
        margin: 10px;
        text-transform: capitalize; }
        .side .spacer .titlebox .subscribe-button a {
          font-size: 16px;
          border: none;
          padding: 2px 10px;
          color: #eee !important; }
        .side .spacer .titlebox .subscribe-button .remove {
          background: #aaa; }
        .side .spacer .titlebox .subscribe-button .add {
          background: goldenrod; }
      .side .spacer .titlebox .res-fancy-toggle-button {
        background: none;
        border: none;
        color: goldenrod;
        text-transform: uppercase; }
      .side .spacer .titlebox .res-sr-style-toggle {
        order: 4;
        background: none; }
      .side .spacer .titlebox .subscribers {
        order: 1;
        font-size: 16px;
        text-align: center; }
        .side .spacer .titlebox .subscribers .word {
          display: none; }
        .side .spacer .titlebox .subscribers .number:after {
          content: ' Subscribers'; }
      .side .spacer .titlebox .users-online {
        order: 2;
        text-align: center;
        font-style: italic; }
        .side .spacer .titlebox .users-online:before {
          display: none; }
        .side .spacer .titlebox .users-online .number:after {
          content: ' spending money on trove'; }
        .side .spacer .titlebox .users-online .word {
          display: none; }
      .side .spacer .titlebox .leavemoderator {
        order: 7;
        background: none !important; }
      .side .spacer .titlebox .flairtoggle {
        order: 5;
        background: none !important; }
      .side .spacer .titlebox .tagline {
        order: 6; }
        .side .spacer .titlebox .tagline .flairselector {
          box-shadow: none;
          padding: 20px !important;
          transform: translateX(-50%);
          left: 50% !important;
          border: solid 1px;
          border-radius: 2px;
          border-color: #eeeeee;
          background: rgba(30, 32, 35, 0.9); }
          .side .spacer .titlebox .tagline .flairselector h2 {
            background: none;
            text-transform: capitalize;
            padding-bottom: 10px; }
        .side .spacer .titlebox .tagline .flairoptionpane {
          display: flex;
          max-height: initial;
          justify-content: space-between;
          margin-bottom: 15px;
          border: none; }
          .side .spacer .titlebox .tagline .flairoptionpane ul {
            float: none !important; }
            .side .spacer .titlebox .tagline .flairoptionpane ul li {
              border-color: transparent; }
              .side .spacer .titlebox .tagline .flairoptionpane ul li:hover {
                background: rgba(45, 50, 55, 0.9); }
      .side .spacer .titlebox .usertext {
        order: 8; }
      .side .spacer .titlebox .bottom {
        display: none; }
    .side .spacer .sidecontentbox {
      padding: 5px; }
      .side .spacer .sidecontentbox .collapse-button {
        display: none; }
      .side .spacer .sidecontentbox .content {
        border: none;
        background: none !important; }
    .side .spacer .account-activity-box {
      padding: 10px;
      text-transform: capitalize; }
    .side .spacer .md a[href='https://www.reddit.com/r/bladeandsoul/'],
    .side .spacer .md a[href='https://li.reddit.com/r/bladeandsoul/'] {
      color: goldenrod !important;
      background-image: url(%%themes%%);
      background-repeat: no-repeat;
      display: inline-block;
      padding-left: 42px;
      height: 40px;
      width: calc(50% - 47.5px);
      line-height: 40px; }
      .side .spacer .md a[href='https://www.reddit.com/r/bladeandsoul/']:hover,
      .side .spacer .md a[href='https://li.reddit.com/r/bladeandsoul/']:hover {
        background-color: rgba(45, 50, 55, 0.9); }
    .side .spacer .md a[href='https://li.reddit.com/r/bladeandsoul/'] {
      background-position: 0 -40px; }
    .side .spacer .md a[href*='www.bladeandsoul.com'],
    .side .spacer .md a[href*='bnstree.com'],
    .side .spacer .md a[href*='discordapp.com'] {
      display: block;
      width: calc(100% - 45px);
      color: goldenrod !important;
      background-image: url(%%side-icons-dark%%);
      background-repeat: no-repeat;
      padding-left: 45px;
      height: 40px;
      line-height: 40px; }
      .side .spacer .md a[href*='www.bladeandsoul.com']:hover,
      .side .spacer .md a[href*='bnstree.com']:hover,
      .side .spacer .md a[href*='discordapp.com']:hover {
        background-color: rgba(45, 50, 55, 0.9); }
    .side .spacer .md a[href*='bnstree.com'] {
      background-position: 0 -40px; }
    .side .spacer .md a[href*='discordapp.com'] {
      background-position: 0 -80px; }
    .side .spacer .md table {
      width: 100%; }
      .side .spacer .md table thead {
        display: none; }
      .side .spacer .md table td {
        border: none; }
    .side .spacer .md h5 {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 360px;
      left: 10px;
      border-radius: 2px;
      padding: 0 15px;
      background: rgba(30, 32, 35, 0.9);
      color: #999;
      right: 330px;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      text-decoration: none;
      font-weight: normal; }
      .side .spacer .md h5 strong {
        color: dodgerblue; }
  .side:after {
    content: 'subreddit theme by /u/dakaringer';
    text-align: center;
    width: 100%;
    color: #777; }
  .side .icon-menu a {
    background: none; }
  .side .sidebox.create {
    display: none; }
  .side form input[type='checkbox'],
  .side form input[type='radio'] {
    margin: 0;
    margin-right: 5px; }

#search input[type='text'] {
  height: 40px;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #eeeeee !important;
  background: rgba(30, 32, 35, 0.9); }

#search input::placeholder {
  text-transform: capitalize; }

#search #searchexpando {
  background: white;
  border: none;
  border-radius: 2px;
  height: 270px; }
  #search #searchexpando label {
    display: flex;
    color: #eeeeee;
    padding: 10px 0; }
    #search #searchexpando label input {
      margin: 2px; }

.search-result :visited,
.search-result :visited > mark {
  color: slategrey; }

.search-expando.collapsed:before {
  background: none; }

body > .content {
  margin: 0;
  margin-top: -70px;
  padding: 140px 330px 50px 10px !important;
  background: linear-gradient(to bottom, transparent 0%, rgba(17, 17, 17, 0.9) 50px, #111111 100%) !important; }
  body > .content > .spacer {
    margin: 0; }
  body > .content .link .rank {
    display: none; }

.res-commentBoxes body > .content {
  padding-right: 330px !important; }

.sitetable {
  background: rgba(30, 32, 35, 0.9);
  border-radius: 2px; }
  .sitetable.nestedlisting {
    background: none !important;
    padding: 0; }
    .sitetable.nestedlisting > .thing {
      background: rgba(30, 32, 35, 0.9) !important; }

.organic-listing {
  background: none !important;
  margin: 0;
  border: none;
  border-radius: 2px; }
  .organic-listing .link.promotedlink.promoted,
  .organic-listing .link.promotedlink.external {
    margin-bottom: 10px;
    padding: 10px 0;
    background: rgba(30, 32, 35, 0.9) !important;
    border: none !important; }

.thing {
  padding: 12px 0;
  margin: 0;
  transition: all 0.2s; }
  .thing .title {
    color: dodgerblue;
    display: flex;
    align-items: center; }
    .thing .title:visited {
      color: slategrey; }
  .thing .expando-button {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
    background-image: url(%%expand%%) !important;
    background-repeat: no-repeat;
    background-size: auto !important;
    height: 16px;
    width: 16px;
    transition: none; }
    .thing .expando-button:hover {
      background-color: dodgerblue; }
    .thing .expando-button.collapsed.selftext {
      background-position: -0px -0px; }
      .thing .expando-button.collapsed.selftext:hover {
        background-position: -16px -0px; }
    .thing .expando-button.collapsed.image {
      background-position: -32px -16px; }
      .thing .expando-button.collapsed.image:hover {
        background-position: -48px -16px; }
    .thing .expando-button.collapsed.gallery {
      background-position: -0px -16px; }
      .thing .expando-button.collapsed.gallery:hover {
        background-position: -16px -16px; }
    .thing .expando-button.collapsed.video {
      background-position: -64px -0px; }
      .thing .expando-button.collapsed.video:hover {
        background-position: -80px -0px; }
    .thing .expando-button.collapsed.video-muted {
      background-position: -64px -16px; }
      .thing .expando-button.collapsed.video-muted:hover {
        background-position: -80px -16px; }
    .thing .expando-button.expanded {
      background-position: -32px -0px; }
      .thing .expando-button.expanded:hover {
        background-position: -48px -0px; }
  .thing .tagline {
    margin-top: 5px;
    display: inline-block; }
  .thing .flat-list {
    margin-top: 2px; }
  .thing .midcol {
    width: 30px !important;
    margin-right: 10px;
    margin-left: 15px; }
  .thing .thumbnail {
    margin: 0 10px;
    max-height: 60px; }
    .thing .thumbnail.self {
      background-image: url(%%default-thumb%%);
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: auto;
      height: 50px; }
  .thing.link.last-clicked {
    border: none;
    background: none; }

.spacer .thing {
  border-bottom: solid 1px rgba(150, 150, 150, 0.2) !important; }
  .spacer .thing.link:hover {
    background: rgba(45, 50, 55, 0.9); }

.nav-buttons {
  text-transform: capitalize; }
  .nav-buttons a {
    border: none;
    background: none;
    text-transform: capitalize; }
  .nav-buttons .nextprev a:hover,
  .nav-buttons .next-suggestions a:hover {
    border: none;
    background: none; }

.RES-keyNav-activeElement,
.RES-keyNav-activeElement .md-container {
  background: none !important;
  border-right: solid 1px rgba(0, 0, 0, 0.1); }

#progressIndicator,
.NERPageMarker {
  background: rgba(45, 50, 55, 0.9);
  border: none;
  border-radius: 2px; }

.panestack-title {
  border: none;
  color: #eeeeee; }

.infobar {
  background: rgba(50, 100, 140, 0.9);
  border: none; }

.comment-visits-box {
  display: none; }

.comment,
.content .details,
.res-commentBoxes .comment {
  border: none !important;
  position: relative;
  padding: 5px !important;
  margin: 10px 0 !important; }
  .comment .midcol,
  .content .details .midcol,
  .res-commentBoxes .comment .midcol {
    margin-left: 30px;
    margin-top: 5px; }

.comment span.score {
  color: #777; }

.comment .child > .sitetable {
  background: none; }

.comment .child,
.comment .showreplies {
  border: none;
  margin-top: 10px;
  margin-left: 20px; }

.comment .expand {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 8px);
  padding: 4px;
  padding-right: 7px;
  color: #777;
  border-left: solid 2px dodgerblue;
  min-height: 20px; }
  .comment .expand:hover {
    background: dodgerblue;
    color: #eee !important;
    text-decoration: none; }

.comment.new-comment .usertext-body {
  background: none !important; }

.comment .usertext.border .usertext-body {
  background: rgba(50, 100, 140, 0.9); }

.res-commentBoxes .comment .comment,
.res-commentBoxes .comment .comment .comment .comment,
.res-commentBoxes .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background: rgba(45, 50, 55, 0.9) !important; }

.res-commentBoxes .comment .comment .comment,
.res-commentBoxes .comment .comment .comment .comment .comment,
.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background: rgba(30, 32, 35, 0.9) !important; }

.res-commentBoxes.res-commentBoxes-rounded .comment {
  border-radius: 0 !important; }

.new-comment .usertext-body {
  border: none;
  background: rgba(70, 70, 70, 0.7); }

a.author {
  color: dodgerblue; }

.res-userHighlight .tagline a.author.moderator,
.res-userHighlight .crosspost-preview-tagline a.author.moderator {
  background: none !important;
  color: limegreen !important; }
  .res-userHighlight .tagline a.author.moderator:hover,
  .res-userHighlight .crosspost-preview-tagline a.author.moderator:hover {
    background: none !important; }

.res-userHighlight .tagline a.author.submitter,
.res-userHighlight .crosspost-preview-tagline a.author.submitter {
  background: none !important;
  color: skyblue !important; }
  .res-userHighlight .tagline a.author.submitter:hover,
  .res-userHighlight .crosspost-preview-tagline a.author.submitter:hover {
    background: none !important; }

.voteWeight {
  background: none !important; }

.tagline .moderator,
.green,
.search-result-meta .moderator {
  color: limegreen; }

.tagline .submitter,
.search-result-meta .submitter {
  color: skyblue; }

.usertext-edit {
  width: 99%;
  max-width: 800px; }
  .usertext-edit textarea {
    width: 100%; }
  .usertext-edit .livePreview {
    background: rgba(30, 32, 35, 0.9); }

textarea:not(#BigText),
#sr-autocomplete,
.input {
  padding: 5px;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border: none;
  background: rgba(45, 50, 55, 0.9);
  color: #eeeeee !important; }

.pretty-form input[type='text'],
.pretty-form textarea,
.pretty-form input[type='password'],
.pretty-form input[type='number'] {
  border: none;
  background: rgba(45, 50, 55, 0.9);
  color: #eeeeee !important; }

textarea:not(#BigText) {
  transform: translateZ(0);
  width: 100%;
  max-width: 100%; }

.btn {
  background: rgba(70, 70, 70, 0.7);
  color: #eee;
  border: none !important;
  outline: none;
  padding: 5px 10px;
  text-transform: capitalize;
  transition: all 0.2s; }
  .btn:hover {
    background: rgba(70, 70, 70, 0.5); }

.morelink {
  color: #eeeeee;
  background: rgba(30, 32, 35, 0.9);
  border: none;
  border-radius: 2px;
  transition: all 0.2s; }
  .morelink a {
    color: goldenrod;
    font-weight: normal; }
  .morelink:hover {
    background: rgba(45, 50, 55, 0.9); }
    .morelink:hover a {
      color: gold; }
  .morelink .nub {
    display: none; }

.submit.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none !important; }
  .submit.content .info-notice {
    background: rgba(30, 32, 35, 0.9);
    border: none; }

.formtabs-content {
  border: none; }

#link-desc,
#text-desc,
#reddit-field {
  display: none !important; }

.roundfield {
  background: rgba(30, 32, 35, 0.9);
  border: none;
  border-radius: 2px; }
  .roundfield #suggested-reddits {
    display: none; }
  .roundfield input[type='text'],
  .roundfield input[type='url'] {
    width: 100%; }

#newlink-with-image-upload .image-upload-drop-target {
  background: rgba(45, 50, 55, 0.9); }

.linefield,
.linefield.mobile {
  background: rgba(30, 32, 35, 0.9);
  border: none; }

.linefield .title,
.linefield .title:first-letter,
.linefield label:first-letter,
.search-header-label,
.searchfacets h4.title:first-letter,
.submit-page .roundfield span.title {
  text-transform: capitalize; }

.tabmenu.formtab {
  padding: 0; }
  .tabmenu.formtab a {
    border: none;
    background: none !important;
    font-size: 16px !important;
    text-transform: capitalize;
    color: #eeeeee; }
  .tabmenu.formtab .selected a {
    border-bottom: solid 2px dodgerblue !important;
    color: dodgerblue;
    text-transform: capitalize; }

.linkflairlabel {
  background: #555;
  border: none;
  border-radius: 2px;
  color: #eee;
  font-size: 12px;
  padding: 2px 5px;
  overflow: initial; }

.flair {
  background: url(%%flair%%) top left no-repeat;
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin: 0 3px;
  line-height: 24px;
  vertical-align: middle;
  text-align: right;
  text-indent: 26px;
  border: none;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  font-size: 12px;
  color: goldenrod !important;
  font-size: 0 !important;
  font-weight: bold;
  background-color: transparent !important; }
  .flair.flair-admin {
    background-position: 0 -24px; }
  .flair.flair-boss {
    background-position: 0 -48px; }
  .flair.flair-class-assassin {
    background-position: 0 -72px; }
  .flair.flair-class-bladedancer {
    background-position: 0 -96px; }
  .flair.flair-class-blademaster {
    background-position: 0 -120px; }
  .flair.flair-class-destroyer {
    background-position: 0 -144px; }
  .flair.flair-class-forcemaster {
    background-position: 0 -168px; }
  .flair.flair-class-gunslinger {
    background-position: 0 -192px; }
  .flair.flair-class-kungfumaster {
    background-position: 0 -216px; }
  .flair.flair-class-soulfighter {
    background-position: 0 -240px; }
  .flair.flair-class-summoner {
    background-position: 0 -264px; }
  .flair.flair-class-warlock {
    background-position: 0 -288px; }
  .flair.flair-faction-cerulean {
    background-position: 0 -312px; }
  .flair.flair-faction-crimson {
    background-position: 0 -336px; }
  .flair.flair-nc {
    background-position: 0 -360px; }
  .flair.flair-race-gon {
    background-position: 0 -384px; }
  .flair.flair-race-jin {
    background-position: 0 -408px; }
  .flair.flair-race-lyn {
    background-position: 0 -432px; }
  .flair.flair-race-yun {
    background-position: 0 -456px; }
  .flair.flair-whale {
    background-position: 0 -480px; }

.flair[title=''] {
  width: 24px; }

.flair:hover {
  opacity: 1;
  width: auto;
  font-size: x-small !important; }

.stylesheet-customize-container {
  padding: 20px;
  border-radius: 2px;
  background: rgba(30, 32, 35, 0.9); }
  .stylesheet-customize-container .sheets {
    margin: 0; }

#preview-table > table {
  width: 100%; }

.gearIcon::after {
  color: dodgerblue;
  text-shadow: none; }

.wiki-page > .content > span {
  position: absolute;
  top: 435px; }

.wiki-page .wiki-page-content {
  margin: 0;
  padding: 20px;
  background: rgba(30, 32, 35, 0.9); }
  .wiki-page .wiki-page-content .md {
    position: relative;
    padding-right: 250px; }
    .wiki-page .wiki-page-content .md .toc {
      position: absolute;
      right: 0; }
    .wiki-page .wiki-page-content .md h1 {
      color: dodgerblue; }
    .wiki-page .wiki-page-content .md h2 {
      color: deepskyblue; }

body.search-page .side {
  margin-top: 50px; }

body.search-page .searchpane {
  width: 100%;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  background: rgba(30, 32, 35, 0.9); }
  body.search-page .searchpane #previoussearch input[type='text'] {
    max-width: 100%;
    background: rgba(45, 50, 55, 0.9); }
  body.search-page .searchpane #previoussearch label {
    display: none; }

body.search-page .listing {
  background: rgba(30, 32, 35, 0.9); }
  body.search-page .listing .search-result-group {
    padding: 10px;
    max-width: 100%;
    min-width: auto; }
    body.search-page .listing .search-result-group .search-result-group-header {
      margin-top: 0; }
  body.search-page .listing .search-result {
    overflow: hidden; }

html:lang(li) body {
  background: url(%%background-dark%%) no-repeat;
  background-size: 100% auto;
  background-position: 0 -70px;
  background-color: #111111;
  color: #292f34; }
  html:lang(li) body .md:not(#BigPreview) {
    color: #292f34; }
  html:lang(li) body .side .titlebox form.flairtoggle,
  html:lang(li) body .trophy-area .content,
  html:lang(li) body .side .md ol,
  html:lang(li) body .side .md ul {
    background: none; }
  html:lang(li) body #header #header-bottom-left .tabmenu {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body #header #header-bottom-right {
    background: none; }
  html:lang(li) body .side .spacer > div {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body .side .spacer .login-form-side {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body .side .spacer .titlebox .tagline .flairselector {
    border-color: #292f34;
    background: rgba(255, 255, 255, 0.95); }
    html:lang(li) body .side .spacer .titlebox .tagline .flairselector a {
      color: skyblue !important; }
  html:lang(li) body .side .spacer .titlebox .tagline .flairoptionpane ul li:hover {
    background: rgba(225, 225, 225, 0.95); }
  html:lang(li) body .side .spacer .titlebox .md a[href='https://www.reddit.com/r/bladeandsoul/']:hover,
  html:lang(li) body .side .spacer .titlebox .md a[href='https://li.reddit.com/r/bladeandsoul/']:hover {
    background-color: rgba(225, 225, 225, 0.95); }
  html:lang(li) body .side .spacer .titlebox .md a[href*='www.bladeandsoul.com'],
  html:lang(li) body .side .spacer .titlebox .md a[href*='bnstree.com'],
  html:lang(li) body .side .spacer .titlebox .md a[href*='discordapp.com'] {
    background-image: url(%%side-icons-light%%); }
    html:lang(li) body .side .spacer .titlebox .md a[href*='www.bladeandsoul.com']:hover,
    html:lang(li) body .side .spacer .titlebox .md a[href*='bnstree.com']:hover,
    html:lang(li) body .side .spacer .titlebox .md a[href*='discordapp.com']:hover {
      background-color: rgba(225, 225, 225, 0.95); }
  html:lang(li) body .side .spacer .titlebox .md h5 {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body #search input[type='text'] {
    color: #292f34 !important;
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body #search #searchexpando {
    background: #141414; }
    html:lang(li) body #search #searchexpando label {
      color: #292f34; }
  html:lang(li) body .sitetable {
    background: rgba(255, 255, 255, 0.95); }
    html:lang(li) body .sitetable.nestedlisting > .thing {
      background: rgba(255, 255, 255, 0.95) !important; }
  html:lang(li) body .organic-listing .link.promotedlink.promoted,
  html:lang(li) body .organic-listing .link.promotedlink.external {
    background: rgba(255, 255, 255, 0.95) !important; }
  html:lang(li) body .spacer .thing.link:hover {
    background: rgba(225, 225, 225, 0.95); }
  html:lang(li) body #progressIndicator,
  html:lang(li) body .NERPageMarker {
    background: rgba(225, 225, 225, 0.95); }
  html:lang(li) body .RES-keyNav-activeElement,
  html:lang(li) body .RES-keyNav-activeElement .md-container {
    background: none !important; }
  html:lang(li) body.res-commentBoxes .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: rgba(225, 225, 225, 0.95) !important; }
  html:lang(li) body.res-commentBoxes .comment .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
  html:lang(li) body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: rgba(255, 255, 255, 0.95) !important; }
  html:lang(li) body.res-commentBoxes .infobar {
    background: rgba(180, 220, 240, 0.9); }
  html:lang(li) body.res-commentBoxes .comment .usertext.border .usertext-body {
    background: rgba(180, 220, 240, 0.9); }
  html:lang(li) body .usertext-edit .livePreview {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body .morelink {
    color: #292f34;
    background: rgba(255, 255, 255, 0.95); }
    html:lang(li) body .morelink:hover {
      background: rgba(225, 225, 225, 0.95); }
  html:lang(li) body textarea:not(#BigText),
  html:lang(li) body #sr-autocomplete,
  html:lang(li) body .input {
    background: rgba(225, 225, 225, 0.95);
    color: #292f34 !important; }
  html:lang(li) body .pretty-form input[type='text'],
  html:lang(li) body .pretty-form textarea,
  html:lang(li) body .pretty-form input[type='password'],
  html:lang(li) body .pretty-form input[type='number'] {
    background: rgba(225, 225, 225, 0.95);
    color: #292f34 !important; }
  html:lang(li) body .submit.content .info-notice {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body .roundfield {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body .linefield,
  html:lang(li) body .linefield.mobile {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body #newlink-with-image-upload .image-upload-drop-target {
    background: rgba(225, 225, 225, 0.95); }
  html:lang(li) body .stylesheet-customize-container {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body.wiki-page .wiki-page-content {
    background: rgba(255, 255, 255, 0.95); }
  html:lang(li) body.search-page .searchpane {
    background: rgba(255, 255, 255, 0.95); }
    html:lang(li) body.search-page .searchpane #previoussearch input[type='text'] {
      background: rgba(225, 225, 225, 0.95); }
  html:lang(li) body.search-page .listing {
    background: rgba(255, 255, 255, 0.95); }

body,
body.res-nightmode {
  background: url(%%background-dark%%) no-repeat;
  background-size: 100% auto;
  background-position: 0 -70px;
  background-color: #111111;
  color: #eeeeee; }
  body .md:not(#BigPreview),
  body.res-nightmode .md:not(#BigPreview) {
    color: #eeeeee; }
  body .side .titlebox form.flairtoggle,
  body .trophy-area .content,
  body .side .md ol,
  body .side .md ul,
  body.res-nightmode .side .titlebox form.flairtoggle,
  body.res-nightmode .trophy-area .content,
  body.res-nightmode .side .md ol,
  body.res-nightmode .side .md ul {
    background: none; }
  body #header #header-bottom-left .tabmenu,
  body.res-nightmode #header #header-bottom-left .tabmenu {
    background: rgba(30, 32, 35, 0.9); }
  body #header #header-bottom-right,
  body.res-nightmode #header #header-bottom-right {
    background: none; }
  body .side .spacer > div,
  body.res-nightmode .side .spacer > div {
    background: rgba(30, 32, 35, 0.9); }
  body .side .spacer .login-form-side,
  body.res-nightmode .side .spacer .login-form-side {
    background: rgba(30, 32, 35, 0.9); }
  body .side .spacer .titlebox .tagline .flairselector,
  body.res-nightmode .side .spacer .titlebox .tagline .flairselector {
    border-color: #eeeeee;
    background: rgba(30, 32, 35, 0.9); }
    body .side .spacer .titlebox .tagline .flairselector a,
    body.res-nightmode .side .spacer .titlebox .tagline .flairselector a {
      color: skyblue !important; }
  body .side .spacer .titlebox .tagline .flairoptionpane ul li:hover,
  body.res-nightmode .side .spacer .titlebox .tagline .flairoptionpane ul li:hover {
    background: rgba(45, 50, 55, 0.9); }
  body .side .spacer .titlebox .md a[href='https://www.reddit.com/r/bladeandsoul/']:hover,
  body .side .spacer .titlebox .md a[href='https://li.reddit.com/r/bladeandsoul/']:hover,
  body.res-nightmode .side .spacer .titlebox .md a[href='https://www.reddit.com/r/bladeandsoul/']:hover,
  body.res-nightmode .side .spacer .titlebox .md a[href='https://li.reddit.com/r/bladeandsoul/']:hover {
    background-color: rgba(45, 50, 55, 0.9); }
  body .side .spacer .titlebox .md a[href*='www.bladeandsoul.com'],
  body .side .spacer .titlebox .md a[href*='bnstree.com'],
  body .side .spacer .titlebox .md a[href*='discordapp.com'],
  body.res-nightmode .side .spacer .titlebox .md a[href*='www.bladeandsoul.com'],
  body.res-nightmode .side .spacer .titlebox .md a[href*='bnstree.com'],
  body.res-nightmode .side .spacer .titlebox .md a[href*='discordapp.com'] {
    background-image: url(%%side-icons-dark%%); }
    body .side .spacer .titlebox .md a[href*='www.bladeandsoul.com']:hover,
    body .side .spacer .titlebox .md a[href*='bnstree.com']:hover,
    body .side .spacer .titlebox .md a[href*='discordapp.com']:hover,
    body.res-nightmode .side .spacer .titlebox .md a[href*='www.bladeandsoul.com']:hover,
    body.res-nightmode .side .spacer .titlebox .md a[href*='bnstree.com']:hover,
    body.res-nightmode .side .spacer .titlebox .md a[href*='discordapp.com']:hover {
      background-color: rgba(45, 50, 55, 0.9); }
  body .side .spacer .titlebox .md h5,
  body.res-nightmode .side .spacer .titlebox .md h5 {
    background: rgba(30, 32, 35, 0.9); }
  body #search input[type='text'],
  body.res-nightmode #search input[type='text'] {
    color: #eeeeee !important;
    background: rgba(30, 32, 35, 0.9); }
  body #search #searchexpando,
  body.res-nightmode #search #searchexpando {
    background: #141414; }
    body #search #searchexpando label,
    body.res-nightmode #search #searchexpando label {
      color: #eeeeee; }
  body .sitetable,
  body.res-nightmode .sitetable {
    background: rgba(30, 32, 35, 0.9); }
    body .sitetable.nestedlisting > .thing,
    body.res-nightmode .sitetable.nestedlisting > .thing {
      background: rgba(30, 32, 35, 0.9) !important; }
  body .organic-listing .link.promotedlink.promoted,
  body .organic-listing .link.promotedlink.external,
  body.res-nightmode .organic-listing .link.promotedlink.promoted,
  body.res-nightmode .organic-listing .link.promotedlink.external {
    background: rgba(30, 32, 35, 0.9) !important; }
  body .spacer .thing.link:hover,
  body.res-nightmode .spacer .thing.link:hover {
    background: rgba(45, 50, 55, 0.9); }
  body #progressIndicator,
  body .NERPageMarker,
  body.res-nightmode #progressIndicator,
  body.res-nightmode .NERPageMarker {
    background: rgba(45, 50, 55, 0.9); }
  body .RES-keyNav-activeElement,
  body .RES-keyNav-activeElement .md-container,
  body.res-nightmode .RES-keyNav-activeElement,
  body.res-nightmode .RES-keyNav-activeElement .md-container {
    background: none !important; }
  body .usertext-edit .livePreview,
  body.res-nightmode .usertext-edit .livePreview {
    background: rgba(30, 32, 35, 0.9); }
  body .morelink,
  body.res-nightmode .morelink {
    color: #eeeeee;
    background: rgba(30, 32, 35, 0.9); }
    body .morelink:hover,
    body.res-nightmode .morelink:hover {
      background: rgba(45, 50, 55, 0.9); }
  body textarea:not(#BigText),
  body #sr-autocomplete,
  body .input,
  body.res-nightmode textarea:not(#BigText),
  body.res-nightmode #sr-autocomplete,
  body.res-nightmode .input {
    background: rgba(45, 50, 55, 0.9);
    color: #eeeeee !important; }
  body .pretty-form input[type='text'],
  body .pretty-form textarea,
  body .pretty-form input[type='password'],
  body .pretty-form input[type='number'],
  body.res-nightmode .pretty-form input[type='text'],
  body.res-nightmode .pretty-form textarea,
  body.res-nightmode .pretty-form input[type='password'],
  body.res-nightmode .pretty-form input[type='number'] {
    background: rgba(45, 50, 55, 0.9);
    color: #eeeeee !important; }
  body .submit.content .info-notice,
  body.res-nightmode .submit.content .info-notice {
    background: rgba(30, 32, 35, 0.9); }
  body .roundfield,
  body.res-nightmode .roundfield {
    background: rgba(30, 32, 35, 0.9); }
  body .linefield,
  body .linefield.mobile,
  body.res-nightmode .linefield,
  body.res-nightmode .linefield.mobile {
    background: rgba(30, 32, 35, 0.9); }
  body #newlink-with-image-upload .image-upload-drop-target,
  body.res-nightmode #newlink-with-image-upload .image-upload-drop-target {
    background: rgba(45, 50, 55, 0.9); }
  body .stylesheet-customize-container,
  body.res-nightmode .stylesheet-customize-container {
    background: rgba(30, 32, 35, 0.9); }
  body .report-reason,
  body.res-nightmode .report-reason {
    color: black; }
  body.res-commentBoxes .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: rgba(45, 50, 55, 0.9) !important; }
  body.res-commentBoxes .comment .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
  body.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment,
  body.res-nightmode.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: rgba(30, 32, 35, 0.9) !important; }
  body.res-commentBoxes .infobar,
  body.res-nightmode.res-commentBoxes .infobar {
    background: rgba(50, 100, 140, 0.9); }
  body.res-commentBoxes .comment .usertext.border .usertext-body,
  body.res-nightmode.res-commentBoxes .comment .usertext.border .usertext-body {
    background: rgba(50, 100, 140, 0.9); }
  body.wiki-page .wiki-page-content,
  body.res-nightmode.wiki-page .wiki-page-content {
    background: rgba(30, 32, 35, 0.9); }
  body.search-page .searchpane,
  body.res-nightmode.search-page .searchpane {
    background: rgba(30, 32, 35, 0.9); }
    body.search-page .searchpane #previoussearch input[type='text'],
    body.res-nightmode.search-page .searchpane #previoussearch input[type='text'] {
      background: rgba(45, 50, 55, 0.9); }
  body.search-page .listing,
  body.res-nightmode.search-page .listing {
    background: rgba(30, 32, 35, 0.9); }

.footer-parent {
  background: rgba(30, 32, 35, 0.9);
  padding-bottom: 20px;
  margin-bottom: -10px; }
  .footer-parent .footer {
    border: none;
    text-transform: capitalize; }
    .footer-parent .footer .col {
      border: none; }

.link .usertext-body .md {
  background: none;
  border: none;
  padding: none; }

.usertext.grayed .usertext-body {
  background: none; }

a,
.res-nightmode a {
  color: dodgerblue;
  transition: all 0.2s;
  text-decoration: none; }
  a:hover,
  .res-nightmode a:hover {
    color: deepskyblue; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: dodgerblue;
  text-transform: capitalize; }

.debuginfo {
  display: none; }
