.comment .comment,
.comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: $ui-color-hover-dark !important;
}

.comment .comment .comment,
.comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment,
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: $ui-color-dark !important;
}

.infobar {
    background: $highlight-color-dark;
}

.comment {
    .usertext.border .usertext-body {
        background: $highlight-color-dark;
    }
}
