.side {
    .spacer {
        & > div {
            background: $ui-color-dark;
        }

        .login-form-side {
            background: $ui-color-dark;
        }

        .titlebox {
            .tagline {
                .flairselector {
                    border-color: $text-color-dark;
                    background: $ui-color-dark;

                    a {
                        color: skyblue !important;
                    }
                }

                .flairoptionpane {
                    ul {
                        li {
                            &:hover {
                                background: $ui-color-hover-dark;
                            }
                        }
                    }
                }
            }
        }
    }

    a[href='https://www.reddit.com/r/bladeandsoul/'],
    a[href='https://li.reddit.com/r/bladeandsoul/'] {
        &:hover {
            background-color: $ui-color-hover-dark;
        }
    }

    a[href*='www.bladeandsoul.com'],
    a[href*='bnstree.com'],
    a[href*='discordapp.com'] {
        background-image: url(%%side-icons-dark%%);

        &:hover {
            background-color: $ui-color-hover-dark;
        }
    }
}

#search {
    input[type='text'] {
        color: $text-color-dark !important;
        background: $ui-color-dark;
    }

    #searchexpando {
        background: rgba(20, 20, 20, 1);

        label {
            color: $text-color-dark;
        }
    }
}
