body,
body.res-nightmode {
    background: $background-dark no-repeat;
    background-size: 100% auto;
    background-position: 0 -7rem;
    background-color: $background-color-dark;
    color: $text-color-dark;

    @import 'md';
    @import 'header';
    @import 'side';
    @import 'content';
    @import 'main-list';
    @import 'input';
    @import 'submit';
    @import 'misc';
    @import 'comment';
    @import 'wiki';
    @import 'search';
}
