#header {
    #header-bottom-left {
        .tabmenu {
            background: $ui-color-light;

            li {
                a {
                    color: #aaa;
                }
            }
        }
    }

    #header-bottom-right {
        background: none;
    }
}
