.md:not(#BigPreview) {
    color: $text-color-light;

    pre {
        background: $ui-color-hover-light;
    }
}

.side .titlebox form.flairtoggle,
.trophy-area .content,
.side .md ol,
.side .md ul {
    background: none;
}
