.submit.content {
    .info-notice {
        background: $ui-color-light;
    }
}

.roundfield {
    background: $ui-color-light;
}

.linefield,
.linefield.mobile {
    background: $ui-color-light;
}

#newlink-with-image-upload .image-upload-drop-target {
    background: $ui-color-hover-light;
}
